body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f4f9;
}

@media (max-width: 768px) {
  div[style*='flex'] {
    flex-direction: column;
  }

  div[style*='width: 250px'] {
    width: 100%;
    height: auto;
  }

  div[style*='height: 420px'] {
    height: 300px;
  }
}